/*Importações*/

/* variáveis */
:root { 
     --color0: #091e3d;
     --color1: #0e2e5d;
     --color2: #085cc5;
     --color3: #04db52;
     --color4: #b3ff78;
     --color5: #fffbb4;
}
html {
     width: 100vw;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.principal-page {
     display: flex;
     flex-direction: column;
}
/* página 1 */
.page-1 {
     background-color: var(--color0);
     height: 90vh;
     width: 100vw;
     display: flex;
     color: var(--color5);
}
.container-left-page-1 {
     height: 100%;
     width: 50%;
     display: flex;
     flex-direction: column;
     float: left;
     justify-content: center;
     text-align: left;
}
.container-left-page-1 {
     height: 100%;
     width: 50%;
     float: right;
}
/* pagina 2 */
.page-2 {
     background-color: var(--color3);
     height: 90vh;
     width: 100vw;
     display: flex;
}
.page-2-img-left {
     height: 100%;
     width: 35%;
     float: left;
}
.page-2-rigth {
     height: 100%;
     width: 60%;
     float: right;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     color: white;
}
.page-2-rigth > h1 {
     font-size: 35pt;
     margin: 30px;
}
.page-2-text {
     width: 80%;
     font-size: 20pt;
}
.page-2-rigth-name{
     margin-left: 50px;
     position: relative;
}
.page-2-rigth-line {
     height: 50px;
     width: 10px;
     background-color: #085cc5;
}
/* página 3 */
.page-3 {
     background-color: var(--color1);
     width: 100vw;
     height: 90vh;
}

/* página 4 */
.page-4 {
     height: 50vh;
     width: 100vw;
     background-color: var(--color0);
}