* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.title > h1 {
     color: blue;
}
.container {
     width: 100vw;
     height: auto;
     align-items: center;
     justify-content: center;
     
}
.game {
     width: auto;
     height: auto;
     background-color: aqua;
}
.line-1, .line-2, .line-3 {
     display: flex;
     flex-direction: column;
     width: 200px;
     height: 600px;
     background-color: aqua;
     border: 1px solid;
     float: left;
} 
.column-1, .column-2, .column-3 {
     width: 200px;
     height: 200px;
     border: 1px solid;
}